#section1{
    background: skyblue;
    text-align: center;
    justify-content: center;
    padding: 1em;
    padding-top: 8em;
    margin-bottom: -5em;
}
.logo{
    width: 10vw;
    height: 5vh;
}

nav ul li{
  display: inline-block;
  justify-content: space-between;
}
.phone{
    width: 15vw;
    height: 90vh;
    transform: rotate(35deg);
}
#quotes{
  padding: 2em;
  padding-top: 5rem;
  background-color: lightgray;
}
.img-round{
  border-radius: 50%;
}
